body{
    font-family: 'Playfair Display', serif;
   background: url("./images/gravel.png");
   margin: 0;

}
.container{
    background: white;
    padding-bottom: 50px;
}

.bg-light{

    background: white;
}


.navbar-brand {
    background-color: teal;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    
}

.navbar-brand h2{
    color: white;
}


#navbarNav{
    right: 250px;    
    font-size: 18px;
    float: right;
}

.page-footer{

    height: 50px;
    background-color: teal;
    color: white
}
.cnt{
    padding-left: 50px;
    
    
}
h2{
    color: teal
}
.row{
    margin-top: 20px;
}

.abt{
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.anyclass{
    width: 100%;
    height: 300px;
    /*-webkit-transform: rotate(-270deg);*/

}
.cnt h2{
    color: teal;
    padding-top: 50px;
}
form{
    width: 90%;
    padding-left: 20px;
    padding-bottom: 40px;

}

.port{
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
img{
    width: 100%;
    height: 100%;
}
textarea{
    width: 100%;
    height: 200px;
}

.col-sm-12{
    margin-top: 10px;
}
.cap{

    background-color: teal;
    position: absolute;
    bottom: 100px;
    width: 95%
}
.cap h2{
    color: white;
    text-align: center;
}

.page-footer{
    margin-bottom: 0px;
    position:fixed;
    bottom: 0px;
    width: 100%;
}

